* {
  padding: 0;
  margin: 0; }

ul {
  list-style-type: none;
  margin-left: 10px; }

body {
  font-family: sans-serif;
  background-color: #333; }

.BS1.sheet1 {
  background: url("../images/BS1/1.jpg"); }

.BS1.sheet2 {
  background: url("../images/BS1/2.jpg"); }

.BS1.sheet3 {
  background: url("../images/BS1/3.jpg"); }

.BS1.sheet4 {
  background: url("../images/BS1/4.jpg"); }

.BS1.sheet5 {
  background: url("../images/BS1/5.jpg"); }

.BS1.sheet6 {
  background: url("../images/BS1/6.jpg"); }

.BS1.sheet7 {
  background: url("../images/BS1/7.jpg"); }

.BS1.sheet8 {
  background: url("../images/BS1/8.jpg"); }

.BS1.sheet9 {
  background: url("../images/BS1/9.jpg"); }

.BS1.sheet10 {
  background: url("../images/BS1/10.jpg"); }

.BS1.sheet11 {
  background: url("../images/BS1/11.jpg"); }

.BS1.sheet12 {
  background: url("../images/BS1/12.jpg"); }

.BS1.sheet13 {
  background: url("../images/BS1/13.jpg"); }

.BS1.sheet14 {
  background: url("../images/BS1/14.jpg"); }

.BS1.sheet15 {
  background: url("../images/BS1/15.jpg"); }

.BS1.sheet16 {
  background: url("../images/BS1/16.jpg"); }

.BS2.sheet1 {
  background: url("../images/BS2/1.jpg"); }

.BS2.sheet2 {
  background: url("../images/BS2/2.jpg"); }

.BS2.sheet3 {
  background: url("../images/BS2/3.jpg"); }

.BS2.sheet4 {
  background: url("../images/BS2/4.jpg"); }

.BS2.sheet5 {
  background: url("../images/BS2/5.jpg"); }

.BS2.sheet6 {
  background: url("../images/BS2/6.jpg"); }

.BS2.sheet7 {
  background: url("../images/BS2/7.jpg"); }

.BS2.sheet8 {
  background: url("../images/BS2/8.jpg"); }

.BS2.sheet9 {
  background: url("../images/BS2/9.jpg"); }

.BS2.sheet10 {
  background: url("../images/BS2/10.jpg"); }

.BS2.sheet11 {
  background: url("../images/BS2/11.jpg"); }

.BS2.sheet12 {
  background: url("../images/BS2/12.jpg"); }

.BS2.sheet13 {
  background: url("../images/BS2/13.jpg"); }

.BS2.sheet14 {
  background: url("../images/BS2/14.jpg"); }

.BS2.sheet15 {
  background: url("../images/BS2/15.jpg"); }

.BS2.sheet16 {
  background: url("../images/BS2/16.jpg"); }

.BS3.sheet1 {
  background: url("../images/BS3/1.jpg"); }

.BS3.sheet2 {
  background: url("../images/BS3/2.jpg"); }

.BS3.sheet3 {
  background: url("../images/BS3/3.jpg"); }

.BS3.sheet4 {
  background: url("../images/BS3/4.jpg"); }

.BS3.sheet5 {
  background: url("../images/BS3/5.jpg"); }

.BS3.sheet6 {
  background: url("../images/BS3/6.jpg"); }

.BS3.sheet7 {
  background: url("../images/BS3/7.jpg"); }

.BS3.sheet8 {
  background: url("../images/BS3/8.jpg"); }

.BS3.sheet9 {
  background: url("../images/BS3/9.jpg"); }

.BS3.sheet10 {
  background: url("../images/BS3/10.jpg"); }

.BS3.sheet11 {
  background: url("../images/BS3/11.jpg"); }

.BS3.sheet12 {
  background: url("../images/BS3/12.jpg"); }

.BS3.sheet13 {
  background: url("../images/BS3/13.jpg"); }

.BS3.sheet14 {
  background: url("../images/BS3/14.jpg"); }

.BS3.sheet15 {
  background: url("../images/BS3/15.jpg"); }

.BS3.sheet16 {
  background: url("../images/BS3/16.jpg"); }

.BS4.sheet1 {
  background: url("../images/BS4/1.jpg"); }

.BS4.sheet2 {
  background: url("../images/BS4/2.jpg"); }

.BS4.sheet3 {
  background: url("../images/BS4/3.jpg"); }

.BS4.sheet4 {
  background: url("../images/BS4/4.jpg"); }

.BS4.sheet5 {
  background: url("../images/BS4/5.jpg"); }

.BS4.sheet6 {
  background: url("../images/BS4/6.jpg"); }

.BS4.sheet7 {
  background: url("../images/BS4/7.jpg"); }

.BS4.sheet8 {
  background: url("../images/BS4/8.jpg"); }

.BS4.sheet9 {
  background: url("../images/BS4/9.jpg"); }

.BS4.sheet10 {
  background: url("../images/BS4/10.jpg"); }

.BS4.sheet11 {
  background: url("../images/BS4/11.jpg"); }

.BS4.sheet12 {
  background: url("../images/BS4/12.jpg"); }

.BS4.sheet13 {
  background: url("../images/BS4/13.jpg"); }

.BS4.sheet14 {
  background: url("../images/BS4/14.jpg"); }

.BS4.sheet15 {
  background: url("../images/BS4/15.jpg"); }

.BS4.sheet16 {
  background: url("../images/BS4/16.jpg"); }

.pawn {
  display: inline-block;
  border-radius: 30px 30px 0 0; }

.no-pawn-available {
  border: 1px solid #f00;
  background-color: #fcc; }

.small {
  height: 64px;
  width: 87px;
  transform: rotate(0.25turn);
  margin: 11.5px -11.5px;
  border-radius: 30px 0 0 30px;
  border-radius: 25px 0 0 25px; }
  .small.row1.col1 {
    background-position: -16px -500px; }
  .small.row1.col2 {
    background-position: -119px -500px; }
  .small.row1.col3 {
    background-position: -221px -500px; }
  .small.row1.col4 {
    background-position: -328px -500px; }
  .small.row1.col5 {
    background-position: -431px -500px; }
  .small.row1.col6 {
    background-position: -533px -500px; }
  .small.row2.col1 {
    background-position: -16px -582px; }
  .small.row2.col2 {
    background-position: -119px -582px; }
  .small.row2.col3 {
    background-position: -221px -582px; }
  .small.row2.col4 {
    background-position: -328px -582px; }
  .small.row2.col5 {
    background-position: -431px -582px; }
  .small.row2.col6 {
    background-position: -533px -582px; }
  .small.row3.col1 {
    background-position: -16px -663px; }
  .small.row3.col2 {
    background-position: -119px -663px; }
  .small.row3.col3 {
    background-position: -221px -663px; }
  .small.row3.col4 {
    background-position: -328px -663px; }
  .small.row3.col5 {
    background-position: -431px -663px; }
  .small.row3.col6 {
    background-position: -533px -663px; }
  .small.row4.col1 {
    background-position: -16px -744px; }
  .small.row4.col2 {
    background-position: -119px -744px; }
  .small.row4.col3 {
    background-position: -221px -744px; }
  .small.row4.col4 {
    background-position: -328px -744px; }
  .small.row4.col5 {
    background-position: -431px -744px; }
  .small.row4.col6 {
    background-position: -533px -744px; }

.medium {
  height: 145px;
  width: 86px; }
  .medium.row1.col1 {
    background-position: -17px -17px; }
  .medium.row1.col2 {
    background-position: -121px -17px; }
  .medium.row1.col3 {
    background-position: -224px -17px; }
  .medium.row1.col4 {
    background-position: -328px -17px; }
  .medium.row1.col5 {
    background-position: -431px -17px; }
  .medium.row1.col6 {
    background-position: -535px -17px; }
  .medium.row2.col1 {
    background-position: -17px -178px; }
  .medium.row2.col2 {
    background-position: -121px -178px; }
  .medium.row2.col3 {
    background-position: -224px -178px; }
  .medium.row2.col4 {
    background-position: -328px -178px; }
  .medium.row2.col5 {
    background-position: -431px -178px; }
  .medium.row2.col6 {
    background-position: -535px -178px; }
  .medium.row3.col1 {
    background-position: -17px -340px; }
  .medium.row3.col2 {
    background-position: -121px -340px; }
  .medium.row3.col3 {
    background-position: -224px -340px; }
  .medium.row3.col4 {
    background-position: -328px -340px; }
  .medium.row3.col5 {
    background-position: -431px -340px; }
  .medium.row3.col6 {
    background-position: -535px -340px; }
  .medium.row4.col1 {
    background-position: -17px -501px; }
  .medium.row4.col2 {
    background-position: -121px -501px; }
  .medium.row4.col3 {
    background-position: -224px -501px; }
  .medium.row4.col4 {
    background-position: -328px -501px; }
  .medium.row4.col5 {
    background-position: -431px -501px; }
  .medium.row4.col6 {
    background-position: -535px -501px; }
  .medium.row5.col1 {
    background-position: -17px -663px; }
  .medium.row5.col2 {
    background-position: -121px -663px; }
  .medium.row5.col3 {
    background-position: -224px -663px; }
  .medium.row5.col4 {
    background-position: -328px -663px; }
  .medium.row5.col5 {
    background-position: -431px -663px; }
  .medium.row5.col6 {
    background-position: -535px -663px; }

.large {
  height: 145px;
  width: 189px;
  transform: rotate(0.25turn);
  margin: 22px -22px;
  border-radius: 30px 0 0 30px; }
  .large.row1.col1 {
    background-position: -17px -17px; }
  .large.row1.col2 {
    background-position: -224px -17px; }
  .large.row1.col3 {
    background-position: -431px -17px; }
  .large.row2.col1 {
    background-position: -17px -178px; }
  .large.row2.col2 {
    background-position: -224px -178px; }
  .large.row2.col3 {
    background-position: -431px -178px; }
  .large.row3.col1 {
    background-position: -17px -340px; }
  .large.row3.col2 {
    background-position: -224px -340px; }
  .large.row3.col3 {
    background-position: -431px -340px; }
  .large.row4.col1 {
    background-position: -17px -501px; }
  .large.row4.col2 {
    background-position: -224px -501px; }
  .large.row4.col3 {
    background-position: -431px -501px; }
  .large.row5.col1 {
    background-position: -17px -663px; }
  .large.row5.col2 {
    background-position: -224px -663px; }
  .large.row5.col3 {
    background-position: -431px -663px; }

.huge {
  height: 226px;
  width: 294px;
  transform: rotate(0.25turn);
  margin: 34px -34px;
  border-radius: 30px 0 0 30px; }
  .huge.row1.col1 {
    background-position: -17px -17px; }
  .huge.row1.col2 {
    background-position: -326px -17px; }
  .huge.row2.col1 {
    background-position: -17px -259px; }
  .huge.row2.col2 {
    background-position: -326px -259px; }
  .huge.row3.col1 {
    background-position: -17px -501px; }
  .huge.row3.col2 {
    background-position: -326px -501px; }

.tag-block {
  background-color: #aaa;
  border: 1px solid black;
  border-top: 0;
  padding: 5px; }
  .tag-block:hover {
    background-color: #eaa;
    cursor: pointer; }
  .tag-block__root {
    border-top: 1px solid black;
    border-radius: 10px 10px 0 0; }
  .tag-block__selected {
    border-radius: 0 0 0 10px; }
    .tag-block__selected.tag-block__root {
      border-radius: 10px 10px 0 10px; }
    .tag-block__selected:hover {
      background-color: #aaa;
      cursor: auto; }
  .tag-block__last {
    border-radius: 0 0 10px 10px; }

.subtag-block {
  background-color: #ddd;
  border: 1px solid black;
  border-top: 0;
  padding: 5px;
  margin-left: 10px; }
  .subtag-block:hover {
    background-color: #fdd;
    cursor: pointer; }
  .subtag-block:last-child {
    border-radius: 0 0 10px 10px; }

.tag-name {
  font-weight: bold; }

.pawn-info-block {
  display: inline-block;
  text-align: center;
  margin-right: 10px;
  margin-bottom: 10px;
  color: #ddd; }

.tag-list {
  position: fixed;
  overflow: auto;
  top: 0;
  bottom: 0;
  left: 0;
  width: 250px;
  padding-top: 5px;
  padding-left: 5px; }

.pawn-display {
  position: fixed;
  overflow: auto;
  top: 0;
  bottom: 0;
  left: 250px;
  right: 0;
  padding-left: 10px;
  padding-top: 5px; }

.tag-path {
  font-weight: bold;
  font-size: 24px;
  position: fixed;
  top: 0;
  left: 250px;
  right: 0;
  height: 0;
  padding-left: 20px;
  color: #ddd; }
  .tag-path--breadcrumb-name {
    text-decoration: underline;
    font-style: italic; }
