$tagBlockBorderRadius: 10px;

.tag-block {
	background-color: #aaa;
	border: 1px solid red;
	border-top: 0;
	padding: 5px;

	&__root {
		border-top: 1px solid red;
		border-radius: $tagBlockBorderRadius $tagBlockBorderRadius 0 0;
	}

	&__selected {
		border-radius: 0 0 0 $tagBlockBorderRadius;

		&.tag-block__root {
			border-radius: $tagBlockBorderRadius $tagBlockBorderRadius 0 $tagBlockBorderRadius;
		}
	}

	&__last {
		border-radius: 0 0 $tagBlockBorderRadius $tagBlockBorderRadius;
	}
}

.subtag-block {
	background-color: #ddd;
	border: 1px solid red;
	border-top: 0;
	padding: 5px;
	margin-left: 10px;

	&:last-child {
		border-radius: 0 0 $tagBlockBorderRadius $tagBlockBorderRadius;
	}
}